
mixin menu(page)
	ul: +_menu(page)

mixin mainMenu(page)
	ul
		li: a(href="/") Главная
		+_menu(page)

mixin _menu(page)
	each childPage in page.pages
		li
			a(href=childPage.href)= childPage.title
			if childPage.hasChildPages()
				ul
					+_menu(childPage)