
mixin contacts(contacts)

	p
		b Адрес:
		br
		span= contacts.address
		
	p
		b Электропочта:
		br
		span= contacts.email
	
	if contacts.phones
		p
			b Телефон#{contacts.phones.length > 1 ? "ы": ""}:
			br
			each phone, index in contacts.phones
				span= phone
				if index < contacts.phones.length - 1
					br
	