
mixin menu(page)
	ul: +_menu(page)

mixin mainMenu(page)
	ul
		li: +_anchor("/", "Главная")
		+_menu(page)

mixin _menu(page)
	each childPage in page.pages
		li
			+_anchor(childPage.href, childPage.title)
			if childPage.hasChildPages()
				ul
					+_menu(childPage)

mixin _anchor(href, text)
	if href == req.path
		=text
	else
		a(href=href)= text